<link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">

<nav class="sidebar" id="adminSidebar">
    <div class="sidebar-header">
        <div class="logo">
            <i class="fa-solid fa-shield-halved"></i> 
            <span>Admin Panel</span>
        </div>
        <button class="collapse-btn" id="toggleBtn" type="button" title="Toggle Sidebar">
            <i class="fa-solid fa-bars-staggered"></i>
        </button>
    </div>

    <div class="nav-links">
        <div class="nav-item">
            <a href="/admin/dashboard" title="Dashboard">
                <i class="fas fa-home-alt"></i> 
                <span>Dashboard</span>
            </a>
        </div>

        <div class="nav-item">
            <a href="/admin/analytics" title="Analytics">
                <i class="fa-solid fa-chart-line"></i> 
                <span>Analytics</span>
            </a>
        </div>
        
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Blogs">
                <i class="fa-solid fa-blog"></i> 
                <span>Blogs</span>
            </a>
            <div class="submenu">
                <a href="/admin/blogs/all"><i class="fa-solid fa-list-ul"></i> All Blogs</a>
                <a href="/admin/blogs/create"><i class="fa-solid fa-plus"></i> Create New</a>
                <a href="/admin/blogs/categories"><i class="fa-solid fa-tags"></i> Categories</a>
            </div>
        </div>

        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Projects">
                <i class="fa-solid fa-briefcase"></i> 
                <span>Projects</span>
            </a>
            <div class="submenu">
                <a href="/admin/projects/all"><i class="fa-solid fa-folder-open"></i> All Projects</a>
                <a href="/admin/projects/create"><i class="fa-solid fa-plus"></i> Create New</a>
                <a href="/admin/projects/categories"><i class="fa-solid fa-layer-group"></i> Categories</a>
            </div>
        </div>

        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Projects">
                <i class="fa-solid fa-images"></i> 
                <span>Media</span>
            </a>
            <div class="submenu">
                <a href="/admin/media/all"><i class="fa-solid fa-folder-open"></i> All Media</a>
            </div>
        </div>

        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Requests">
                <i class="fa-solid fa-envelope-open-text"></i> 
                <span>Requests</span>
            </a>
            <div class="submenu">
                <a href="/admin/requests/contact"><i class="fa-solid fa-address-book"></i> Contact Requests</a>
            </div>
        </div>

        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Appearance">
                <i class="fa-solid fa-paint-brush"></i> 
                <span>Appearance</span>
            </a>
            <div class="submenu">
                <a href="/admin/appearance/colors"><i class="fa-solid fa-palette"></i> Colors</a>
                <a href="/admin/appearance/templates"><i class="fa-solid fa-file-code"></i> Templates</a>
                <a href="/admin/appearance/statics"><i class="fa-solid fa-code"></i> CSS & JS</a>
            </div>
        </div>

        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Settings">
                <i class="fa-solid fa-gear"></i> 
                <span>Settings</span>
            </a>
            <div class="submenu">
                <a href="/admin/settings/general"><i class="fa-solid fa-sliders"></i> General</a>
                <a href="/admin/settings/server"><i class="fa-solid fa-server"></i> Server</a>
                <a href="/admin/settings/logs"><i class="fa-solid fa-terminal"></i> Logs</a>
            </div>
        </div>
    </div>
    
    <div class="profile-section">
        <img src="{{ url_for('static', filename='assets/images/logos/Logo.png') }}" alt="Admin Profile">
        <div class="profile-name">
            <span>Jackstar</span>
        </div>
        <div class="profile-info">
            <a href="/admin/logout" class="logout-link" title="Logout">
                <i class="fa-solid fa-power-off"></i> 
                <span>Logout</span>
            </a>
        </div>
    </div>
</nav>

<script src="{{ url_for('static', filename='js/admin/sidebar.js') }}"></script>