<link rel="stylesheet" href="{{ url_for('static', filename='css/theme-switch.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">

<nav class="sidebar" id="adminSidebar">
    <div class="sidebar-header">
        <div class="logo">
            <i class="fa-solid fa-shield-halved"></i> 
            <span>Admin Panel</span>
        </div>
        <button class="collapse-btn" id="toggleBtn" type="button" title="Toggle Sidebar">
            <i class="fa-solid fa-bars-staggered"></i>
        </button>
    </div>

    <div class="nav-links">
        {% if has_permission(user_permissions, Permission.SYSTEM_DASHBOARD) %}
        <div class="nav-item">
            <a href="/admin/dashboard" title="Dashboard">
                <i class="fas fa-home-alt"></i> 
                <span>Dashboard</span>
            </a>
        </div>
        {% endif %}

        {% if has_permission(user_permissions, Permission.ANALYTICS_READ) or has_permission(user_permissions, Permission.ANALYTICS_UPDATE) %}
        <div class="nav-item">
            <a href="/admin/analytics" title="Analytics">
                <i class="fa-solid fa-chart-line"></i> 
                <span>Analytics</span>
            </a>
        </div>
        {% endif %}

        {% if has_permission(user_permissions, Permission.BLOGS_READ) or has_permission(user_permissions, Permission.BLOGS_CREATE) or has_permission(user_permissions, Permission.BLOGS_UPDATE) or has_permission(user_permissions, Permission.BLOGS_UPDATE_OWN) or has_permission(user_permissions, Permission.BLOGS_DELETE) or has_permission(user_permissions, Permission.SYSTEM_ADMIN) %}
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Blogs">
                <i class="fa-solid fa-blog"></i> 
                <span>Blogs</span>
            </a>
            <div class="submenu">
                <a href="/admin/blogs/all"><i class="fa-solid fa-list-ul"></i> All Blogs</a>
                <a href="/admin/blogs/create"><i class="fa-solid fa-plus"></i> Create New</a>
                <a href="/admin/blogs/categories"><i class="fa-solid fa-tags"></i> Categories</a>
            </div>
        </div>
        {% endif %}

        {% if has_permission(user_permissions, Permission.PROJECTS_READ) or has_permission(user_permissions, Permission.PROJECTS_CREATE) or has_permission(user_permissions, Permission.PROJECTS_UPDATE) or has_permission(user_permissions, Permission.SYSTEM_ADMIN) %}
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Projects">
                <i class="fa-solid fa-briefcase"></i> 
                <span>Projects</span>
            </a>
            <div class="submenu">
                <a href="/admin/projects/all"><i class="fa-solid fa-folder-open"></i> All Projects</a>
                <a href="/admin/projects/create"><i class="fa-solid fa-plus"></i> Create New</a>
                <a href="/admin/projects/categories"><i class="fa-solid fa-layer-group"></i> Categories</a>
            </div>
        </div>
        {% endif %}

        {% if has_permission(user_permissions, Permission.QUOTES_READ) or has_permission(user_permissions, Permission.QUOTES_CREATE) or has_permission(user_permissions, Permission.QUOTES_UPDATE) or has_permission(user_permissions, Permission.SYSTEM_ADMIN) %}
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Content">
                <i class="fa-solid fa-pen-nib"></i> 
                <span>Content</span>
            </a>
            <div class="submenu">
                <a href="/admin/content/quotes"><i class="fa-solid fa-quote-left"></i> Quotes</a>
            </div>
        </div>
        {% endif %}

        {% if has_permission(user_permissions, Permission.MEDIA_READ) or has_permission(user_permissions, Permission.MEDIA_CREATE) or has_permission(user_permissions, Permission.MEDIA_UPDATE) or has_permission(user_permissions, Permission.MEDIA_DELETE) or has_permission(user_permissions, Permission.SYSTEM_ADMIN) %}
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Media">
                <i class="fa-solid fa-images"></i> 
                <span>Media</span>
            </a>
            <div class="submenu">
                <a href="/admin/media/all"><i class="fa-solid fa-folder-open"></i> All Media</a>
            </div>
        </div>
        {% endif %}

        {% if has_permission(user_permissions, Permission.CONTACTS_READ) or has_permission(user_permissions, Permission.CONTACTS_UPDATE) or has_permission(user_permissions, Permission.SYSTEM_ADMIN) %}
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Requests">
                <i class="fa-solid fa-envelope-open-text"></i> 
                <span>Requests</span>
            </a>
            <div class="submenu">
                <a href="/admin/requests/contact"><i class="fa-solid fa-address-book"></i> Contact Requests</a>
            </div>
        </div>
        {% endif %}

        {% if has_permission(user_permissions, Permission.USERS_READ) or has_permission(user_permissions, Permission.USERS_CREATE) or has_permission(user_permissions, Permission.USERS_UPDATE) or has_permission(user_permissions, Permission.USERS_DELETE) or has_permission(user_permissions, Permission.SYSTEM_ADMIN) %}
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Users">
                <i class="fa-solid fa-users"></i> 
                <span>Users</span>
            </a>
            <div class="submenu">
                <a href="/admin/users/all"><i class="fa-solid fa-user-gear"></i> Manage Users</a>
                <a href="/admin/users/create"><i class="fa-solid fa-user-plus"></i> Create User</a>
            </div>
        </div>
        {% endif %}

        {% if has_permission(user_permissions, Permission.SYSTEM_ADMIN) %}
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Appearance">
                <i class="fa-solid fa-paint-brush"></i> 
                <span>Appearance</span>
            </a>
            <div class="submenu">
                <a href="/admin/appearance/colors"><i class="fa-solid fa-palette"></i> Colors</a>
                <a href="/admin/appearance/templates"><i class="fa-solid fa-file-code"></i> Templates</a>
                <a href="/admin/appearance/statics"><i class="fa-solid fa-code"></i> CSS & JS</a>
            </div>
        </div>
        {% endif %}

        {% if has_permission(user_permissions, Permission.SYSTEM_ADMIN) %}
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Settings">
                <i class="fa-solid fa-gear"></i> 
                <span>Settings</span>
            </a>
            <div class="submenu">
                <a href="/admin/settings/general"><i class="fa-solid fa-sliders"></i> General</a>
                <a href="/admin/settings/server"><i class="fa-solid fa-server"></i> Server</a>
                <a href="/admin/settings/logs"><i class="fa-solid fa-terminal"></i> Logs</a>
            </div>
        </div>
        {% endif %}
    </div>
    
    <div class="profile-section">
        {% if user_profile %}
            <img src="{{ user_profile }}" alt="{{ username or 'Admin' }}" class="admin-profile-img">
        {% else %}
            <img src="{{ url_for('static', filename='assets/images/logos/Logo.png') }}" alt="Admin Profile">
        {% endif %}
        <div class="profile-name">
            <span>{{ username or 'Admin' }}</span>
        </div>
        <div class="profile-info">
            {% include "snippets/switcher.jinja" %}
            <a href="/admin/logout" class="logout-link" title="Logout">
                <i class="fa-solid fa-power-off"></i> 
                <span>Logout</span>
            </a>
        </div>
    </div>
</nav>
{% include "snippets/notification.jinja" %}

<script src="{{ url_for('static', filename='js/admin/admin-global.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin/sidebar.js') }}"></script>