<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://cdnjs.cloudflare.com">

 


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<link rel="preload" href="{{ url_for('static', filename='css/root.css') }}" as="style">
<link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">

<nav class="sidebar" id="adminSidebar">
    <div class="sidebar-header">
        <div class="logo">
            <i class="fa-solid fa-shield-halved"></i> 
            <span>Admin Panel</span>
        </div>
        <button class="collapse-btn" id="toggleBtn" type="button" title="Toggle Sidebar">
            <i class="fa-solid fa-bars-staggered"></i>
        </button>
    </div>

    <div class="nav-links">
        {% if 'system:admin' in current_user_permissions or 'admin' in current_user_permissions %}
        <div class="nav-item">
            <a href="/admin/dashboard" title="Dashboard">
                <i class="fas fa-home-alt"></i> 
                <span>Dashboard</span>
            </a>
        </div>
        {% endif %}

        {% if 'analytics:read' in current_user_permissions or 'analytics:update' in current_user_permissions or 'admin' in current_user_permissions %}
        <div class="nav-item">
            <a href="/admin/analytics" title="Analytics">
                <i class="fa-solid fa-chart-line"></i> 
                <span>Analytics</span>
            </a>
        </div>
        {% endif %}

        {% if 'blogs:read' in current_user_permissions or 'blogs:create' in current_user_permissions or 'blogs:update' in current_user_permissions or 'blogs:update:own' in current_user_permissions or 'blogs:delete' in current_user_permissions or 'admin' in current_user_permissions %}
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Blogs">
                <i class="fa-solid fa-blog"></i> 
                <span>Blogs</span>
            </a>
            <div class="submenu">
                <a href="/admin/blogs/all"><i class="fa-solid fa-list-ul"></i> All Blogs</a>
                <a href="/admin/blogs/create"><i class="fa-solid fa-plus"></i> Create New</a>
                <a href="/admin/blogs/categories"><i class="fa-solid fa-tags"></i> Categories</a>
            </div>
        </div>
        {% endif %}

        {% if 'projects:read' in current_user_permissions or 'projects:create' in current_user_permissions or 'projects:update' in current_user_permissions or 'admin' in current_user_permissions %}
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Projects">
                <i class="fa-solid fa-briefcase"></i> 
                <span>Projects</span>
            </a>
            <div class="submenu">
                <a href="/admin/projects/all"><i class="fa-solid fa-folder-open"></i> All Projects</a>
                <a href="/admin/projects/create"><i class="fa-solid fa-plus"></i> Create New</a>
                <a href="/admin/projects/categories"><i class="fa-solid fa-layer-group"></i> Categories</a>
            </div>
        </div>
        {% endif %}

        {% if 'quotes:read' in current_user_permissions or 'quotes:create' in current_user_permissions or 'quotes:update' in current_user_permissions or 'admin' in current_user_permissions %}
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Content">
                <i class="fa-solid fa-pen-nib"></i> 
                <span>Content</span>
            </a>
            <div class="submenu">
                <a href="/admin/content/quotes"><i class="fa-solid fa-quote-left"></i> Quotes</a>
            </div>
        </div>
        {% endif %}

        {% if 'media:read' in current_user_permissions or 'media:create' in current_user_permissions or 'media:update' in current_user_permissions or 'media:delete' in current_user_permissions or 'admin' in current_user_permissions %}
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Media">
                <i class="fa-solid fa-images"></i> 
                <span>Media</span>
            </a>
            <div class="submenu">
                <a href="/admin/media/all"><i class="fa-solid fa-folder-open"></i> All Media</a>
            </div>
        </div>
        {% endif %}

        {% if 'contacts:read' in current_user_permissions or 'contacts:update' in current_user_permissions or 'admin' in current_user_permissions %}
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Requests">
                <i class="fa-solid fa-envelope-open-text"></i> 
                <span>Requests</span>
            </a>
            <div class="submenu">
                <a href="/admin/requests/contact"><i class="fa-solid fa-address-book"></i> Contact Requests</a>
            </div>
        </div>
        {% endif %}

        {% if 'admin' in current_user_permissions %}
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Appearance">
                <i class="fa-solid fa-paint-brush"></i> 
                <span>Appearance</span>
            </a>
            <div class="submenu">
                <a href="/admin/appearance/colors"><i class="fa-solid fa-palette"></i> Colors</a>
                <a href="/admin/appearance/templates"><i class="fa-solid fa-file-code"></i> Templates</a>
                <a href="/admin/appearance/statics"><i class="fa-solid fa-code"></i> CSS & JS</a>
            </div>
        </div>
        {% endif %}

        {% if 'admin' in current_user_permissions %}
        <div class="nav-item">
            <a href="#" class="menu-toggle" title="Settings">
                <i class="fa-solid fa-gear"></i> 
                <span>Settings</span>
            </a>
            <div class="submenu">
                <a href="/admin/settings/general"><i class="fa-solid fa-sliders"></i> General</a>
                <a href="/admin/settings/server"><i class="fa-solid fa-server"></i> Server</a>
                <a href="/admin/settings/logs"><i class="fa-solid fa-terminal"></i> Logs</a>
            </div>
        </div>
        {% endif %}
    </div>
    
    <div class="profile-section">
        <img src="{{ url_for('static', filename='assets/images/logos/Logo.png') }}" alt="Admin Profile">
        <div class="profile-name">
            <span>{{ current_user or 'Admin' }}</span>
        </div>
        <div class="profile-info">
            <a href="/admin/logout" class="logout-link" title="Logout">
                <i class="fa-solid fa-power-off"></i> 
                <span>Logout</span>
            </a>
        </div>
    </div>
</nav>

<script src="{{ url_for('static', filename='js/admin/sidebar.js') }}"></script>